{% extends "board/base.html" %}
{% block content %}
    <h1>Home page</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo purus. Donec sagittis eget velit ut
    dictum. Sed varius urna in ligula interdum pharetra. Sed et dictum nulla. Phasellus convallis lobortis sapien, vel
    malesuada arcu tristique a. Morbi id eleifend metus. Praesent libero felis, convallis id sem varius, egestas
    ultricies turpis. Pellentesque lacus odio, eleifend nec felis nec, consectetur dictum erat. Maecenas lacinia augue
    tortor, ac iaculis ante tincidunt faucibus. Maecenas tempor consectetur malesuada. In sagittis ligula erat, ac
    hendrerit enim posuere laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    curae; Nulla sit amet semper enim, at sollicitudin lacus. Maecenas sit amet porttitor purus. Proin tincidunt at
    nulla bibendum semper.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo purus. Donec sagittis eget velit ut
    dictum. Sed varius urna in ligula interdum pharetra. Sed et dictum nulla. Phasellus convallis lobortis sapien, vel
    malesuada arcu tristique a. Morbi id eleifend metus. Praesent libero felis, convallis id sem varius, egestas
    ultricies turpis. Pellentesque lacus odio, eleifend nec felis nec, consectetur dictum erat. Maecenas lacinia augue
    tortor, ac iaculis ante tincidunt faucibus. Maecenas tempor consectetur malesuada. In sagittis ligula erat, ac
    hendrerit enim posuere laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    curae; Nulla sit amet semper enim, at sollicitudin lacus. Maecenas sit amet porttitor purus. Proin tincidunt at
    nulla bibendum semper.
</p>

{% endblock content %}